<!DOCTYPE html>
<html>
<head>
	<title>
		Elon Musk or Not 
	</title>
</head>
<!-- <body background="elon_musk.jpg"> -->
<body>
	<div class="center">
	<h1>
		Is it Elon or Not Elon?
	</h1>	
	

	<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=file name=photo>
    <input type="submit">
    </div>
	
    <style type="text/css">

	    .center {
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%); 
	}
	</style>

</body>
</html>